# Información de configuración de la base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mapa_mundi
DB_USER=
DB_PASSWORD=

DB_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}

#Clave para el root de MySQL
DB_ROOT_PASSWORD=
